<style> a {
    font-size: x-large;

} nav {
    background-color: rgb(46, 13, 13);
}</style>
<h1>Movies Crud</h1>
<nav style="display:flex; justify-content: space-between; padding: 40px;">  
    <a href="/">[Home]</a>
    <a href="/about">[About]</a>
    <a href="/movies">[Movie]</a>
</nav>